<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name">WORD</label>
    <input id="name_input" name="word_name" class="form-control" type="text">
    <label for="pronounce_name">Pronounciation</label>
    <input id="pronounce_input" name="pronounce_name" class="form-control" type="text">
  </div>
  <button type="submit" class="danger">Go!</button>
</form>
