<h1 class="titles">"¡WORD UP!"</h1>

<h3 class="titles">Build Your Dictionary</h3>

<form action="/words">
  <div class="form-group">
    <label for="search_input">Search Dictionary</label>
    <input id="search" name="search_input" class="form-control" type="text">
  </div>
  <button type="submit" class="danger">SEARCH!</button>
</form>

<form action="/words" method="get">
  <input name="clear_inputs" type="hidden" value="clear">
  <button type="submit" name="clear">Clear Results</button>
</form>

<form action="/words" method="get">
  <input name="sort_list" type="hidden" value="search">
  <button type="submit">Sort List</button>
</form>



<% if @words.any? %>
<ul>
  <% @words.each do |word| %>
  <h4><a href="/words/<%= word.id %>"><%= word.name %></a></h4>
  <li>Pronounciation: <%= word.pronounce %></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no words to display.</p>
<% end %>

<a href="/words/new">Add a new word!</a>
